<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/new/add/op">
        <input name="fom" type="text" placeholder="from">
        <input  name="t" type="text" placeholder="to"> 
        <button>click</button>
    </form>
</body>
</html>